.location {
    width: 100%;
    max-width: 500px;
    background-color: #062226;
    border-radius: 0.8em;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    margin-bottom: 5rem;
}

.location__name {
    color: chartreuse;
    font-size: 1.2rem;
    padding: 0.8em;
}

.location__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8em;
    flex-direction: column;
}

.location__item {
    display: flex;
    flex-direction: column;
}

.location__value {
    color: #999;
    font-weight: 300;
}